@import "src/assets/styles/variables";

.maze-page {
  padding: 0 20px;
  height: $calculated-desktop-header-height;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 1023px) and (orientation:landscape) {
    padding: 0 8px;
    height: $calculated-mobile-header-height;
  }

  @media screen and (max-width: 767px) and (orientation:portrait) {
    padding: 0 8px;
    height: $calculated-mobile-header-height;
  }
}

app-maze-container {
  width: 100%;
}

.flip-msg-container{
  width: 100%;
  background-image: url('src/assets/images/flip.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;


  div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
}

.flip-title {
  text-align: center;
  font-size: 1.2rem;

  @media screen and (min-width: 767px) {
    font-size: 2rem;
  }
}
