<div class="maze-page">
  <div *ngIf="orientationFlag; else mazeContent" class="flip-msg-container">
    <div class="flip-img-container"></div>
    <h3 class="flip-title">{{ 'maze.you-should-flip-your-device-to-play' | translate }}</h3>
  </div>
  <ng-template #mazeContent>
    <app-maze-container
      [maze]="maze"
      [heroMode]="heroMode$ | async"
    ></app-maze-container>
    <app-maze-control
      [win]="win$ | async"
      (onRefreshMaze)="refreshMaze()"
      (onHeroStep)="heroStep($event)"
    ></app-maze-control>
  </ng-template>
</div>

