.maze-page {
  padding: 0 20px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

app-maze-container {
  width: 100%;
}

.flip-msg-container{
  width: 100%;
  background-image: url('src/assets/images/flip.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;


  div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
}

.flip-title {
  text-align: center;
  font-size: 1.2rem;

  @media screen and (min-width: 767px) {
    font-size: 2rem;
  }
}
