.settings-page {
  padding: 20px;
}

.settings-languages-title {
  padding-bottom: 10px;
}

.settings-languages-container {
  width: 60px;
}

.mat-select {
  background: #dcdcdc;
  padding: 10px 15px;
  border-radius: 20px;
  text-transform: uppercase;
}
