<div class="settings-page">
  <app-settings-language
    [languages]="languages"
    [defaultLang]="defaultLang"
    (onSelectLanguage)="selectLanguage($event)"
  ></app-settings-language>
  <app-settings-level-mode
    [levels]="levels"
    [defaultLevelMode]="defaultLevelMode"
    (onSelectLevelMode)="selectLevelMode($event)"
  ></app-settings-level-mode>
  <app-settings-hero-mode
    [heroes]="heroes"
    [defaultHeroMode]="defaultHeroMode"
    (onSelectHeroMode)="selectHeroMode($event)"
  ></app-settings-hero-mode>
  <app-settings-wall-mode
    [walls]="walls"
    [defaultWallMode]="defaultWallMode"
    (onSelectWallMode)="selectWallMode($event)"
  ></app-settings-wall-mode>
</div>

