<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-title-container">
      <button
        mat-icon-button
        class="drawer-menu"
        (click)="drawerToggle()" >
        <mat-icon>menu</mat-icon
      >
      </button>
      <h1>
        <a routerLink="/">{{ 'core.maze' | translate }}</a>
      </h1>
    </div>
    <div class="header-content-container">
      <div class="header-score-container">
        <mat-icon>schedule</mat-icon>
        <span>{{ score$ | async }}</span>
      </div>
      <app-navigation class="nav-container"></app-navigation>
      <div class="username-container">
        <span>{{ (this.userName$ | async) | translate }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/settings">{{ 'core.settings' | translate }}</button>
          <button mat-menu-item (click)="logout()">{{ 'core.logout' | translate }}</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


