.mat-toolbar {
  height: 70px;
  font-weight: 700;
}

.header-title-container {
  display: flex;
  align-items: center;

  h1 {
    padding-left: 10px;
    font-size: 3rem;
    font-weight: 700;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-menu {
  display: none;
}

@media only screen and (max-width:767px) {
  .drawer-menu {
    display: block;
  }
}

.header-content-container {
  display: flex;
  align-items: flex-end;
}

.header-score-container {
  padding-left: 20px;
}

.nav-container {
  padding-left: 20px;

  @media only screen and (max-width:767px) {
    display: none;
  }
}

.username-container {
  display: flex;
  align-items: flex-end;
  padding-left: 40px;
  text-transform: capitalize;
}


