.maze-ceil-container {
  width: 100%;

  div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    div {
      position: absolute;
      width: 100%;
      height: 0;
    }
  }

  .ceil {
    background-color: #24292e;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .empty {
    background-color: #24292e;
  }

  .android-go {
    background-image: url('../../../../../assets/images/android/android-go.png');
  }

  .android-win {
    background-image: url('../../../../../assets/images/android/android-win.png');
  }

  .android-goal {
    background-image: url('../../../../../assets/images/android/android-goal.png');
  }

  .gomer-go {
    background-image: url('../../../../../assets/images/gomer/gomer-go.png');
    background-size: 90%;
  }

  .gomer-win {
    background-image: url('../../../../../assets/images/gomer/gomer-win.png');
    background-size: 80%;
  }
  .gomer-goal {
    background-image: url('../../../../../assets/images/gomer/gomer-goal.png');
    background-size: 70%;
  }

  .george-go {
    background-image: url('../../../../../assets/images/george/george-go.png');
    background-size: 75%;
  }

  .george-win {
    background-image: url('../../../../../assets/images/george/george-win.png');
    background-size: 180%;
  }

  .george-goal {
    background-image: url('../../../../../assets/images/george/george-goal.png');
  }

  .gekko-go {
    background-image: url('../../../../../assets/images/gekko/gekko-go.png');
    background-size: 70%;
  }

  .gekko-win {
    background-image: url('../../../../../assets/images/gekko/gekko-win.png');
    background-size: 130%;
  }

  .gekko-goal {
    background-image: url('../../../../../assets/images/gekko/gekko-goal.png');
  }

  .crumb-go {
    background-image: url('../../../../../assets/images/crumb/crumb-go.png');
    background-size: 80%;
  }

  .crumb-goal {
    background-image: url('../../../../../assets/images/crumb/crumb-goal.png');
    background-size: 90%;
  }

  .crumb-win {
    background-image: url('../../../../../assets/images/crumb/crumb-win.png');
    background-size: 75%;
  }
}

.bricks {
  background-image: url('../../../../../assets/images/wall/bricks.jpg');
  background-size: 1000%;
}

.ice {
  background-image: url('../../../../../assets/images/wall/ice.jpg');
  background-size: 300%;
}

.leaves {
  background-image: url('../../../../../assets/images/wall/leaves.jpg');
  background-size: 150%;
}

.sand {
  background-image: url('../../../../../assets/images/wall/sand.jpg');
  background-size: 300%;
}
