.maze-ceil-container {
  width: 100%;

  div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    div {
      position: absolute;
      width: 100%;
      height: 0;
    }
  }

  .ceil {
    background-color: #24292e;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .empty {
    background-color: #24292e;
  }

  .android-go {
    background-image: url('../../../../../assets/images/android/android-go.png');
    background-size: 105%;
  }

  .android-win {
    background-image: url('../../../../../assets/images/android/android-win.png');
    background-size: 85%;
  }

  .android-goal {
    background-image: url('../../../../../assets/images/android/android-goal.png');
    background-size: 115%;
  }

  .gomer-go {
    background-image: url('../../../../../assets/images/gomer/gomer-go.png');
    background-size: 95%;
  }

  .gomer-win {
    background-image: url('../../../../../assets/images/gomer/gomer-win.png');
    background-size: 90%;
  }
  .gomer-goal {
    background-image: url('../../../../../assets/images/gomer/gomer-goal.png');
    background-size: 75%;
  }

  .george-go {
    background-image: url('../../../../../assets/images/george/george-go.png');
    background-size: 80%;
  }

  .george-win {
    background-image: url('../../../../../assets/images/george/george-win.png');
    background-size: 195%;
  }

  .george-goal {
    background-image: url('../../../../../assets/images/george/george-goal.png');
    background-size: 105%;
  }

  .gekko-go {
    background-image: url('../../../../../assets/images/gekko/gekko-go.png');
    background-size: 76%;
  }

  .gekko-win {
    background-image: url('../../../../../assets/images/gekko/gekko-win.png');
    background-size: 134%;
  }

  .gekko-goal {
    background-image: url('../../../../../assets/images/gekko/gekko-goal.png');
  }

  .crumb-go {
    background-image: url('../../../../../assets/images/crumb/crumb-go.png');
    background-size: 86%;
  }

  .crumb-goal {
    background-image: url('../../../../../assets/images/crumb/crumb-goal.png');
    background-size: 90%;
  }

  .crumb-win {
    background-image: url('../../../../../assets/images/crumb/crumb-win.png');
    background-size: 75%;
  }

  .om-nom-go {
    background-image: url('../../../../../assets/images/om-nom/om-nom-go.png');
    background-size: 95%;
  }

  .om-nom-goal {
    background-image: url('../../../../../assets/images/om-nom/om-nom-goal.png');
    background-size: 105%;
  }

  .om-nom-win {
    background-image: url('../../../../../assets/images/om-nom/om-nom-win.png');
    background-size: 135%;
  }
}

.bricks {
  background-image: url('../../../../../assets/images/walls/bricks.jpg');
  background-size: 1000%;
}

.ice {
  background-image: url('../../../../../assets/images/walls/ice.jpg');
  background-size: 300%;
}

.leaves {
  background-image: url('../../../../../assets/images/walls/leaves.jpg');
  background-size: 100%;
}

.sand {
  background-image: url('../../../../../assets/images/walls/sand.jpg');
  background-size: 300%;
}
