.maze-ceil-container {
  width: 100%;
  background-image: url('src/assets/images/brick.jpg');
  background-size: 1000%;

  div {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    div {
      position: absolute;
      width: 100%;
      height: 0;
    }
  }

  .ceil {
    background-color: #24292e;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .empty {
    background-color: #24292e;
  }

  .android-go {
    background-image: url('../../../../../assets/images/android_go.png');
  }

  .gomer-go {
    background-image: url('../../../../../assets/images/gomer_go.png');
  }

  .android-win {
    background-image: url('../../../../../assets/images/android_win.png');
  }

  .gomer-win {
    background-image: url('../../../../../assets/images/gomer_win.png');
  }

  .android-goal {
    background-image: url('../../../../../assets/images/android_goal.png');
  }

  .gomer-goal {
    background-image: url('../../../../../assets/images/gomer_goal.png');
  }
}
