<div>is Authenticated</div>
<button>Logout</button>
<a routerLink="/auth/sign-up">sign-up</a>
<div style="margin-left: 600px">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Enter your user name</mat-label>
      <input matInput type="text" placeholder="user name" formControlName="userName">
<!--        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input matInput type="text" placeholder="email" formControlName="email">
    </mat-form-field>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">submit</button>
  </form>
</div>
