a {
  color: #fff;
  text-decoration: none;
  padding-left: 20px;
  font-weight: 700;

  &.active {
    color: #2ea44f;
  }
}

.drawer-nav-container {
  display: flex;
  flex-direction: column;

  a {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 0 10px 0;
  }
}
