.drawer-nav-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;

    &.active {
      color: #2ea44f;
      font-weight: 700;
    }
  }

  .mat-stroked-button {
    border: none;
    text-align: left;
    font-size: 1.2rem;
    padding: 0 40px 0 20px;
  }

  .mat-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}
