@import 'reset';
@import 'font';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);
@include mat-core($custom-typography);

* {
  font-family: Montserrat, sans-serif;
}


